h1.center{
    font-family: monospace;
    padding-top: 80px;
    text-align: center;
}

div.center{
    padding-top: 50%;
}

ul{
    padding-top: 50px;
}

.placeholder-color::-webkit-input-placeholder {
    color: white
}